grpc.snowglobe.cash {
    cors / {
        allowed_headers *
    }
    log /var/log/caddy/grpc.snowglobe.cash.log
    timeouts none
    grpc snowglobe1:8335 {
        backend_tls_noverify
    }
}

grpc2.snowglobe.cash {
    cors / {
        allowed_headers *
    }
    log /var/log/caddy/grpc2.snowglobe.cash.log
    timeouts none
    grpc snowglobe2:8335 {
        backend_tls_noverify
    }
}
